*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 20px 80px;
    background-color: #e3e6f3;
    color: black;
    box-shadow: 0 5px 15px black;
    
}
ul{
    display: flex;
    
}